requests 
pandas 
python-dotenv 
openpyxl
python-multipart
psycopg2
python-jose
argon2-cffi
sqlalchemy
fastapi
pydantic[email]
passlib
matplotlib
seaborn
scikit-learn
xgboost
nbformat
beautifulsoup4 
pytest